.hero {
    height: 90vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.698),rgba(0, 0, 0, 0.555)), url('../../Images/Rectangle\ 1.png') no-repeat;
    background-position: center;
    background-size: cover;
    
}
.carousel {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.place-info {
    width: 60%;
    height: 60vh;
    margin: 2rem 1rem 0 0;
    padding-top: 1rem;
}
.carousel-cards {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
}