nav .logo {
    width: 100px;
    z-index: 2;
    padding-bottom: 1rem;
}
nav .logo:hover {
    cursor: pointer;
}
nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    padding: 10px 15px;
}

.links li a {
    text-decoration: none;
    
    color: darkcyan;
    font-weight: 300;
}