nav .logo {
    width: 70px;
    z-index: 2;
    padding: 10px 0;
}
nav .logo:hover {
    cursor: pointer;
}
nav {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    padding: 10px 15px;
}

.links li a {
    text-decoration: none;
    
    color: white;
    font-weight: 400;
}