.card {
    width: 270px;
    height: 416px;
    border-radius: 20px;
    background-color: brown;
    position: relative;
}

.card:hover {
    border: 2px solid yellowgreen;
    cursor: pointer;
    transition: .3s;
}

.card img {
    width: 100%;
}

.card-title {
    position: absolute;
    top: 85%;
    left: 30px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 400;
    text-transform: uppercase;
}