
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
.btn-main {
  margin-left: 20px;
}

.btn {
  color: white;
  font-weight: 600;
  padding: 10px 22px;
  background-color: darkkhaki;
}
.text-orange {
  color: #F9A51A;
}

.px-2 {
  padding: 0 2rem;
}

.calender {
  background-color: black;
}
.date-picker {
  padding: 1rem 2rem;
  background-color: #009b81;
  color: whitesmoke;
  border: none;

}

.date-picker:hover {
  cursor: pointer;
}