/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,300;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
.btn-main {
  margin-left: 20px;
}

.btn {
  color: white;
  font-weight: 600;
  padding: 10px 22px;
  background-color: darkkhaki;
}
.text-orange {
  color: #F9A51A;
}

.px-2 {
  padding: 0 2rem;
}